@model EmployeeMVC.Models.EmployeeModel

@{
    ViewBag.Title = "Edit";
}

<br /><br />
<h2>Edit Employee</h2>

@using (Html.BeginForm("Edit", "Employee",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<section>
<div class="row">
    <div class="col-md-4 form-group">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        @Html.HiddenFor(model => model.EmployeeId)


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position, htmlAttributes: new {@class = "col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Position, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Office, htmlAttributes: new {@class = "col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Office, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Office, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, htmlAttributes: new {@class = "col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Salary, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group ">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success"/>
            </div>
        </div>
    </div>

        <div class="col-md-8 form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.PicturePath, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.PicturePath, new { htmlAttributes = new { @class = "form-control", @id = "picturePath" } })
                    <img src="@Url.Content(Model.PicturePath)" style="margin: 10px" width="200" height="200" id="imagePreview" alt="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="PictureUpload" accept="image/jpeg, image/png"
                           onchange="ShowImagePreview(this, document.getElementById('imagePreview'), document.getElementById('picturePath'))" />
                </div>
            </div>
        </div>


    </div>
</section>
}

<div class="row">
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    @*@Scripts.Render("~/bundles/jqueryval")*@
}