@using System.Data
@using EmployeeMVC.Models
@model List<EmployeeModel>

@{
    ViewBag.Title = "Index";
    var tasks = (List<TaskModel>)ViewData["Tasks"];
}

<br /><br />
<div class="row">
    <h2>Employees List</h2>
</div>

<br /><br />
<div class="row">
    <a href="@Url.Action("Create","Employee")" class="btn btn-success btn-sm">Add Employee</a>
</div>

<br />
<div class="row">
  
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Salary</th>
            <th>Picture</th>
            <th></th>  
        </tr>

        @foreach(var employee in Model)
        {
            <tr valign="middle">
                
                <td>@employee.Name</td>
                <td>@employee.Position</td>
                <td>@employee.Office</td>
                <td>@employee.Salary</td>
                <td>
                    <img src="@Url.Content(employee.PicturePath)" alt="Employee" width="50" height="50"/>
                </td>
                <td>
                    <a class='btn btn-primary btn-sm' href="@Url.Action("Edit", "Employee", new {@id = @employee.EmployeeId})">
                        <i class='fa fa-pencil'></i> Edit
                    </a>

                    <a class='btn btn-danger btn-sm' href="@Url.Action("Delete", "Employee", new {@id = @employee.EmployeeId})" onclick="if (!Delete()) { return false; }">
                        <i class='fa fa-trash'></i> Delete
                    </a>

                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal-@employee.EmployeeId">
                        <i class='fa fa-tasks'></i> Tasks
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal-@employee.EmployeeId">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">@employee.Name</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <ul>
                                        @foreach (var task in tasks)
                                        {
                                            //Search for the Employee Id
                                            if (Equals(task.EmployeeId, employee.EmployeeId))
                                            {
                                                <li>@task.TaskDescription</li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>


                </td>
            </tr>
                                        }
    </table>


</div>

@section scripts
{
    <script>
        function Delete() {
            return confirm('Are you sure to Delete this Employee?');
        }
    </script>
}

