@using EmployeeMVC.Models
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Employees Control</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar fixed-top py-0 navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index","Employee")">
            <img src="@Url.Content("~/Files/Images/logoActualize.png")" alt="Logo" style="width:200px;">
        </a>
        <ul class="navbar-nav  mr-auto">
            <li><a class="nav-link" href="@Url.Action("Index","Employee")">Employees</a></li>
            <li><a class="nav-link" href="@Url.Action("Index","Tasks")">Tasks</a></li>
        </ul>

        @*<a class="btn btn-primary btn-lg" href="@Url.Action("Index","Employee")">Employees</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Tasks")">Tasks</a>*@
    </nav>

@{
    var response = (ResponseModel)TempData["message"];
    var notifyProperties = new { message = string.Empty, className = string.Empty };

    if (response != null)
    {
        notifyProperties = new { message = response.Message, className = response.IsSuccess ? "success" : "error" };
    }
    

}


<div class="container body-content">
    @RenderBody()
    <hr/>
    
    <footer>
        <p>&copy; @DateTime.Now.Year - Eduardo Salazar</p>
    </footer>
</div>
    



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/notify")
@RenderSection("scripts", required: false)

<script src="~/Scripts/Script.js"></script>

<script>
    $(document).ready(function() {
        $.notify("@notifyProperties.message", "@notifyProperties.className");
    });
</script>


</body>
</html>
