@model EmployeeMVC.Models.TasksModel

@{
    ViewBag.Title = "Create";
}

<br /><br />
<h2>Create Tasks</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-md-6 form-group">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.EmployeeId,(IEnumerable<SelectListItem>)ViewData["MyTasks"], new { @class = "form-control" })   
                    @*@Html.EditorFor(model => model.EmployeeId, new {@class = "form-control"})*@
                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TaskDescription, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.TaskDescription, new { @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.TaskDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
