@model List<EmployeeMVC.Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
}


<br /><br />
<h2>Tasks</h2>

<p>
    @Html.ActionLink("Add Task", "Create",null, new{@class= "btn btn-success btn-sm" })
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Employee
        </th>
        <th>
            Tasks
        </th>
        <th></th>
    </tr>

@foreach(var employee in Model)
{
    foreach (var taskOfEmployee in employee.Tasks)
    {
        <tr>
            <td>
                @employee.Name
            </td>
            <td>
                @taskOfEmployee.TaskDescription
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id= @taskOfEmployee.TaskId }, new{@class= "btn btn-info btn-sm" }) 
            </td>
        </tr>
    }
}

</table>
